@import '../../global.scss';


.textZone{
    position: absolute;
    top: 10px;
    animation: fadeIn 1.1s ease-in-out;
    width: 100%;
    
    .textZone-title{
        margin: 10px 0;
    }
}

@media screen and (max-width: 880px) {
    .textZone{
    }
}